@{
    ViewBag.Title = "已完成";
    ViewBag.MenuId = "menu7";
    ViewBag.SubMenuIndex = 1;
    ViewBag.user_name = User.Identity.Name;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<!-- MODAL 查看回扣单-->
<div class="modal fade" id="parent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="model-dlg" class="modal-dialog" style="width:800px">
        <div class="modal-content modal-table">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.Credit</h4>
                                <div class="tools hidden-xs">
                                    <a href="javascript:;" class="" onclick="$('#parent-modal').modal('hide');">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="jqGridContainerBox_view_tab" class="box-body">
                                @*<table id="jqGrid_view_tab"></table>
                                <div id="jqGridPager_view_tab"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.Language.Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL 查看回扣单-->

<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="">
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <i class="fa fa-tasks fa-fw"></i>
                                    <a href="#">@Resources.Language.Task_Task</a>
                                </li>
                                <li>
                                    @Resources.Language.Task_TaskManage
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.Task_Approved</h4>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">

                                @*<input type="button" class='btn btn-warning btn-xs' id="RepealSubmit_btn" value="撤销提交" />
                                <input type="button" class='btn btn-warning btn-xs' id="RepealPass_btn" value="撤销通过" />*@

                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(Init);

    function Init() {
        {

            if (tableConfig == null) {
                GetTableConfig();
            }

            $("#jqGrid").jqGrid({
                url: "/Task/GetCheckedData2",
                mtype: "GET",
                datatype: "json",
                colModel: tableConfig.columns,
                viewrecords: true,
                //width: 780,
                height: '100%', //height: $(window).height() - 300,
                rowNum: 15,
                autowidth: true,
                editurl: '@Url.Action("", "")',
                pager: "#jqGridPager",
                //loadonce: true,
                rowList: ['15', '20', '30', '40', '50'],
                rownumbers: true,
                shrinkToFit: false,     //指定各列宽度
                sortable: true,          //列可移动
                colMenu: false,          //列菜单

                subGrid: true,
                subGridRowExpanded: showChildGrid2,
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e"
                },

                onSelectRow: function (rowid, status, e) {
                    //alert(rowid)
                    //alert(status);
                    var grid = $("#jqGrid");
                    var rowKey = grid.getGridParam("selrow");

                    if (!rowKey) {
                        $('#jqGrid_RepealSubmit').addClass('ui-state-disabled');
                        $('#jqGrid_RepealPass').addClass('ui-state-disabled');
                    }
                    else {
                        var id = $('#jqGrid').jqGrid('getGridParam', 'selrow');
                        var rowData = $('#jqGrid').jqGrid('getRowData', id);
                        var curPhase = rowData.Phase;
                        if (curPhase != -1)
                        {
                            $('#jqGrid_RepealSubmit').removeClass('ui-state-disabled');
                            $('#jqGrid_RepealPass').removeClass('ui-state-disabled');

                        }

                        //var selectedIDs = grid.getGridParam("selarrrow");
                        //if (selectedIDs.length != 1) {
                        //    $('#jqGrid_ilAdd').addClass('ui-state-disabled');
                        //    $('#jqGrid_ilView').addClass('ui-state-disabled');
                        //}
                        //else {
                        //    $('#jqGrid_ilAdd').removeClass('ui-state-disabled');
                        //    $('#jqGrid_ilView').removeClass('ui-state-disabled');
                        //}

                    }
                },

                gridComplete: function () {
                    var ids = $(this).getDataIDs();
                    for (var i = 0; i < ids.length; i++) {
                        //var Phase = $(this).getCell(ids[i], 'Phase');
                        var Status = $(this).getCell(ids[i], 'Status');
                        if (Status == "审核")  //已提交，未审核
                        {
                            $("#" + ids[i] + " td").css("background-color", "#DBDBDB");
                        }
                    }
                },
            });


            $('#jqGrid').jqGrid('filterToolbar', {
                searchResult: true,
                searchOperators: true,
                beforeSearch: function () {
                    //alert(1);
                    //alert($("#gs_Code").val());
                    var util = new Util();

                    var ret = true;

                    //日期

                    if ($("#gs_CreateDate").val() != null && $("#gs_CreateDate").val() != "")
                        ret = ret && util.isDateTime('@Resources.Language.CreateDate', $("#gs_CreateDate").val());
                    if ($("#gs_LastUpDate").val() != null && $("#gs_LastUpDate").val() != "")
                        ret = ret && util.isDateTime('@Resources.Language.LastUpDate', $("#gs_LastUpDate").val());

                    if ($("#gs_Amount").val() != null && $("#gs_Amount").val() != "")
                        ret = ret && util.isValidCurrency('@Resources.Language.V_Billing_Amount', $("#gs_Amount").val());
                    if ($("#gs_CreditNum").val() != null && $("#gs_CreditNum").val() != "")
                        ret = ret && util.isValidNaturalNumber('@Resources.Language.Credit', $("#gs_CreditNum").val());

                    @*if ($("#gs_BigTugNum").val() != null && $("#gs_BigTugNum").val() != "")
                    ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_BigTugNum', $("#gs_BigTugNum").val());
                    if ($("#gs_MiddleTugNum").val() != null && $("#gs_MiddleTugNum").val() != "")
                        ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_MiddleTugNum', $("#gs_MiddleTugNum").val());
                    if ($("#gs_SmallTugNum").val() != null && $("#gs_SmallTugNum").val() != "")
                        ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_SmallTugNum', $("#gs_SmallTugNum").val());*@

                    //alert(ret); //ret为true，说明验证客户端验证通过，需要进行搜索；反之，不进行搜索
                    return !ret; //beforeSearch 返回true不触发搜索，false出发搜索
                }
            });


            // 撤销通过
            $("#RepealPass_btn").click(function () {
                var id = $('#jqGrid').jqGrid('getGridParam', 'selrow');
                var rowData = $('#jqGrid').jqGrid('getRowData', id);
                var curPhase = rowData.Phase;
                if (rowData.length) {
                    if (curPhase == -1) {
                        alert("已完成全部审核，无法撤销！");
                    }
                    else {
                        $.ajax(
                                                      {
                                                          type: "post",
                                                          url: "/Task/RepealPass",
                                                          data: { 'data': rowData },
                                                          traditional: true,
                                                          dataType: 'json',
                                                          success: function (result) {
                                                              alert(result.message);
                                                              $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                                          },
                                                          error: function (result) {
                                                              console.log(result)
                                                              alert(result.message);
                                                          }
                                                      });
                    }

                }
                else { alert("未选择需要操作的数据！"); }
            })

            // 撤销提交
            $("#RepealSubmit_btn").click(function () {
                var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                var dr = jQuery('#jqGrid').jqGrid('getRowData', rowid);//选中行的数据
                if (rowid != null) {
                    if (confirm('确定要撤销提交吗?')) {
                        var d = new Date();
                        $.ajax(
                           {
                               type: "post",
                               url: "/Task/RepealSubmit",
                               data: { 'data': dr },
                               //traditional: true,
                               dataType: 'json',
                               success: function (result) {
                                   alert(result.message);
                                   $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                               },
                               error: function (result) {
                                   console.log(result)
                                   alert(result.message);
                               }
                           });
                    }

                }
                else { alert("未选择需要操作的数据！"); }
            })

            $('#jqGrid').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });//搜索框

            $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

            $('#jqGridContainerBox').resize(function () {
                var width = $('#jqGridContainerBox').width();
                $("#jqGrid").setGridWidth(width);
            });

            $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })
                .navButtonAdd('#jqGridPager', {
                    caption: "", title: '@Resources.Language.Refresh', buttonicon: "ui-icon-refresh",
                    onClickButton: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                .navButtonAdd('#jqGridPager', {
                    caption: "", title: '@Resources.Language.ClearSearchFilter', buttonicon: "ui-icon-circle-minus",
                onClickButton: function () {
                    var grid = $('#jqGrid')[0];
                    grid.clearToolbar();
                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
            })
            .navSeparatorAdd("#jqGridPager", { sepclass: "ui-separator", sepcontent: '' })
            .navButtonAdd('#jqGridPager', {
                id: 'jqGrid_ilView',
                caption: "", title: "查看账单", buttonicon: "ui-icon-search",
                onClickButton: function () {

                    var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');

                    var BillingID = jQuery('#jqGrid').jqGrid('getCell', rowid, "IDX"); //
                    var InvoiceType = jQuery('#jqGrid').jqGrid('getCell', rowid, "InvoiceType"); //
                    var TimeTypeValue = jQuery('#jqGrid').jqGrid('getCell', rowid, "TimeTypeValue"); //
                    var BillingTemplateTypeLabel = jQuery('#jqGrid').jqGrid('getCell', rowid, "BillingTemplateTypeLabel"); //

                    if (InvoiceType=="普通账单" && (BillingTemplateTypeLabel == "全包" || BillingTemplateTypeLabel == "半包")) {
                        //alert("全包或半包报表预览");
                        //location.href = '/Report/Invoice_qborbb' + '?OrderID=' + orderId + '&TimeTypeValue=' + timeTypeId
                        open('/Report/Invoice_qborbb' + '?BillingID=' + BillingID + '&TimeTypeValue=' + TimeTypeValue)
                    }

                    else if (InvoiceType == "普通账单" && BillingTemplateTypeLabel == "计时") {
                        //alert("计时报表预览");
                        open('/Report/Invoice_tk' + '?BillingID=' + BillingID + '&TimeTypeValue=' + TimeTypeValue)
                    }
                    else if(InvoiceType == "特殊账单")
                    {
                        open('/Report/Invoice_Special' + '?BillingID=' + BillingID)
                    }
                    else if (InvoiceType == "其他账单") {
                        open('/Report/CreditNotePage_Youhuidan' + '?BillingID=' + BillingID)
                    }
                },

            })
            .navButtonAdd('#jqGridPager', {
                id: 'jqGrid_ilViewCredit',
                caption: "", title: "查看回扣单", buttonicon: "ui-icon-zoomout",
                onClickButton: AddParent
            })
        .navButtonAdd('#jqGridPager', {
            id: 'jqGrid_RepealSubmit',
            caption: "撤销提交", title: "撤销提交", buttonicon: "ui-icon-cancel",
            onClickButton: function () {
                var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                var dr = jQuery('#jqGrid').jqGrid('getRowData', rowid);//选中行的数据
                if (rowid != null) {
                    if (confirm('确定要撤销提交吗?')) {
                        var d = new Date();
                        $.ajax(
                           {
                               type: "post",
                               url: "/Task/RepealSubmit",
                               data: { 'data': dr },
                               //traditional: true,
                               dataType: 'json',
                               success: function (result) {
                                   alert(result.message);
                                   $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                               },
                               error: function (result) {
                                   console.log(result)
                                   alert(result.message);
                               }
                           });
                    }
                }
            },

        })
        .navButtonAdd('#jqGridPager', {
            id: 'jqGrid_RepealPass',
            caption: "撤销通过", title: "撤销通过", buttonicon: "ui-icon-close",
            onClickButton: function () {
                var id = $('#jqGrid').jqGrid('getGridParam', 'selrow');
                var rowData = $('#jqGrid').jqGrid('getRowData', id);
                var curPhase = rowData.Phase;
                if (rowData != null) {
                    if (curPhase == -1) {
                        alert("已完成全部审核，无法撤销！");
                    }
                    else {
                        $.ajax(
                                                      {
                                                          type: "post",
                                                          url: "/Task/RepealPass",
                                                          data: { 'data': rowData },
                                                          //traditional: true,
                                                          dataType: 'json',
                                                          success: function (result) {
                                                              alert(result.message);
                                                              $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                                          },
                                                          error: function (result) {
                                                              console.log(result)
                                                              alert(result.message);
                                                          }
                                                      });
                    }

                }
                else { alert("未选择需要操作的数据！"); }
            },

        });

        $('#jqGrid').inlineNav('#jqGridPager',
            {
                edit: false,
                add: false,
                del: false,
                cancel: false,
                save:false,
                editParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    url: null, //'/api/values',
                    mtype: 'POST'
                },

                addParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    errorfunc: function (rowid, xhr) {
                        alert(xhr.responseText);
                        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                }
            });

        //最后调用，冻结列
    }
    }
    function GetTableConfig() {
        tableConfig = {
            columns: [
                {
                    align: 'center', label: '@Resources.Language.Billing_Month', name: "Month", width: 100, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: false
                },
                 {
                     align: 'center', label: '@Resources.Language.V_OrderBilling_BillingID', index: "IDX", name: "IDX", width: 80, editable: true, edittype: "text",
                     hidden: true,
                 },
                {
                    align: 'center', label: '@Resources.Language.V_Billing_BillingCode', name: "BillingCode", width: 100, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: false
                },
                {
                    align: 'center', label: '@Resources.Language.Credit', name: "CreditNum", width: 80, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] },
                },
                {
                    align: 'center', label: '@Resources.Language.CustomerName', name: "CustomerName", width: 200, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: false
                },
                  {
                      align: 'center', label: '@Resources.Language.Customer_SimpleName', name: "CustomerSimpleName", width: 100, editable: true, edittype: "text",
                      coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                      searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                      hidden: false
                  },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ShipName', name: "ShipName", width: 100, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: false
                },
                {
                    align: 'center', label: '@Resources.Language.V_Billing_Amount', name: "Amount", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_Billing_BillingTemplateTypeLabel', name: "BillingTemplateTypeLabel", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    //stype: 'select',
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    @*searchoptions: {
                        dataUrl: '@Url.Action("GetCustomField", "Base", new { CustomName = "BillingTemplate.BillingTemplateType" })',
                    },*@
                },

                {
                    align: 'center', label: '@Resources.Language.V_Billing_TimeTypeLabel', name: "TimeTypeLabel", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    //stype: 'select',
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] }
                    @*searchoptions: {
            dataUrl: '@Url.Action("GetCustomField", "Base", new { CustomName = "BillingTemplate.TimeTypeID" })',
            },*@
            },

                 {
                     align: 'center', label: 'TimeTypeValue', name: "TimeTypeValue", width: 120, editable: true, edittype: "text",
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                     hidden: true
                 },

                {
                    align: 'center', label: '@Resources.Language.V_Billing_Status', name: "Status", width: 120, editable: false, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },

                 {
                     align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 200, editable: true, edittype: "textarea",
                     hidden: false,
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                 },
                 {
                     align: 'center', label: '@Resources.Language.V_OrderBilling_BillingTypeLabel', name: "InvoiceType", width: 100, editable: true, edittype: "text",
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                     hidden: false
                 },

                {
                    align: 'center', label: '@Resources.Language.V_OrderBilling_JobNo', name: "JobNo", width: 120, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: true
                },


                @*{
                    align: 'center', label: '@Resources.Language.V_Billing_BillingTemplateName', name: "BillingTemplateName", width: 120, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                    hidden: false
                },*@
                 {
                     align: 'center',
                     label: '@Resources.Language.CreateDate', name: "CreateDate", width: 120, editable: false, edittype: "text",
                     hidden: false,
                     //formatter: 'date',
                     //formatoptions: { srcformat: 'yyyy-mm-dd', newformat: 'yyyy-mm-dd' },
                     datefmt: 'yyyy-mm-dd',
                     sorttype: 'date',
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: {
                         sopt: ["eq", "lt", "le", "gt", "ge"],

                         dataInit: function (element) {
                             $(element).datetimepicker({
                                 format: 'Y-m-d H:i:s',
                                 step: 1,
                                 //timepicker: false
                             });
                         },

                         dataEvents: [
                             {
                                 type: 'change',
                                 fn: function (e) {
                                     var grid = $('#jqGrid')[0];
                                     grid.triggerToolbar();

                                 }
                             }
                         ]
                     }
                 },
                 {
                     align: 'center',
                     label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 120, editable: false, edittype: "text",
                     hidden: false,
                     //formatter: 'date',
                     datefmt: 'yyyy-mm-dd',
                     sorttype: 'date',
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: {
                         sopt: ["eq", "lt", "le", "gt", "ge"],

                         dataInit: function (element) {
                             $(element).datetimepicker({
                                 format: 'Y-m-d H:i:s',
                                 step: 1,
                                 //timepicker: false
                             });
                         },

                         dataEvents: [
                             {
                                 type: 'change',
                                 fn: function (e) {
                                     var grid = $('#jqGrid')[0];
                                     grid.triggerToolbar();

                                 }
                             }
                         ]
                     }
                 },
                 {
                     align: 'center', label: 'MarkID', name: "MarkID", width: 80, editable: true, edittype: "text",
                     hidden: true,
                 },
                 {
                     align: 'center', label: 'Phase', name: "Phase", width: 80, editable: true, edittype: "text",
                     hidden: true,
                 },
                 {
                     align: 'center', label: 'Task', name: "Task", width: 120, editable: false, edittype: "text",
                     hidden: true,
                     coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                     searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                 },
                 {
                     align: 'center', label: 'FlowUserID', name: "FlowUserID", width: 80, editable: true, edittype: "text",
                     hidden: true,
                 },
                  {
                      align: 'center', label: 'System', name: "System", width: 120, editable: false, edittype: "text",
                      hidden: true,
                      coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                      searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                  },
            ]
        };
    }


</script>

<!--账单Grid下的子Grid-->
<script>
    // the event handler on expanding parent row receives two parameters
    // the ID of the grid tow  and the primary key of the row
    function showChildGrid2(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";

        var dr = jQuery("#jqGrid").jqGrid('getRowData', parentRowKey);
        //alert(dr.IDX);

        var childGridURL = '@Url.Action("GetOrdersOfCommonInvoicce", "OrderManage")' + "?billingId=" + dr.IDX;

        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        $("#" + childGridID).jqGrid({
            url: childGridURL,
            mtype: "GET",
            datatype: "json",
            //page: 1,
            viewrecords: true,
            editurl: null,
            colModel: [
                {
                    align: 'center', label: '@Resources.Language.Credit_BillingID', index: "BillingID", name: "BillingID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },

                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_OrderID', name: "OrderID", width: 100, editable: false, edittype: "text",
                    editrules: { required: true }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ServiceNatureNames', name: "UserDefinedCol3", width: 120, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CustomerShip_CustomerID', name: "CustomerID", width: 80, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: true,

                },
                {
                    align: 'center',
                    label: '@Resources.Language.V_OrderInfor_CustomerName', name: "CustomerName", width: 200, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: false,

                },

                {
                    align: 'center',
                    label: '@Resources.Language.V_OrderInfor_ShipID', name: "ShipID", width: 80, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: true,

                },
                {
                    align: 'center',
                    label: '@Resources.Language.V_OrderInfor_ShipName', name: "ShipName", width: 150, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: false,

                },
                {
                    align: 'center',
                    label: '@Resources.Language.Invoice2_CustomerShipLength', name: "Length", width: 100, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: false,

                },
                {
                    align: 'center',
                    label: '@Resources.Language.Invoice2_CustomerShipTEUS', name: "TEUS", width: 100, editable: false, edittype: "text",
                    editrules: { required: true, date: true }, hidden: false,

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_OrdDate', name: "OrdDate", width: 120, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,


                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_Code', name: "OrderCode", width: 120, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                },





            ],

            loadonce: false,
            rowNum: 10,
            //width: 500,
            autowidth: true,
            height: '100%',
            shrinkToFit: false,     //指定各列宽度
            pager: "#" + childGridPagerID,
            grouping: true,
            caption: "@Resources.Language.Order",
            groupingView: {
                //groupField: ["ServiceNatureLabel"],
                //groupField: ["ServiceWorkDate"],
                //groupColumnShow: [true],
                //groupText: ['@Resources.Language.V_OrderScheduler_ServiceNatureLabel' + ": <b>{0}</b>"],
                @*groupText: ['@Resources.Language.V_OrderScheduler_ServiceWorkDate' + ": <b>{0}</b>"],
                groupOrder: ["asc"],
                groupSummary: [false],
                groupCollapse: false*@
            },


            //gridComplete: function () {
            //    alert(1);
            //}
        });


        $("#" + childGridID).jqGrid('bindKeys');  //光标可以控制上下移动

        $('#pg_' + childGridPagerID).css("background-color", "lightblue"); //更改子Grid导航的背景色

        //subGridPager
        var toolbar = $('#' + childGridID).navGrid('#' + childGridPagerID, { edit: false, add: false, del: false, refresh: false, view: false, search: false })
        .navButtonAdd('#' + childGridPagerID, {
            id: childGridID + '_ilrefresh',
            caption: "", title: '@Resources.Language.Refresh', buttonicon: "ui-icon-refresh",
            onClickButton: function () {

                $('#' + childGridID).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
            }
        })

        $('#' + childGridID).inlineNav('#' + childGridPagerID,
                {
                    edit: false,
                    add: false,
                    del: false,
                    save: false,
                    cancel: false,
                    editParams: {
                        keys: true,
                        successfunc: function (val) {
                            if (val.responseText != "") {
                                var ret = $.parseJSON(val.responseText);
                                alert(ret.message);
                                $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                            }
                        },
                        url: null, //'/api/values',
                        mtype: 'POST'
                    },

                    addParams: {
                        keys: true,
                        successfunc: function (val) {
                            if (val.responseText != "") {
                                var ret = $.parseJSON(val.responseText);
                                alert(ret.message);
                                $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                            }
                        },
                        errorfunc: function (rowid, xhr) {
                            alert(xhr.responseText);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    }
                });

    }
</script>

<!--查看回扣单-->
<script>
    function AddParent() {
        $('#parent-modal').modal({ backdrop: 'static', keyboard: false })
    };

    $('#parent-modal').on('show.bs.modal', function (e) {
        initViewTabCredit();
    });
    $('#parent-modal').on('shown.bs.modal', function (e) {
    });
    $('#parent-modal').on('hide.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hide");
    });
    $('#parent-modal').on('hidden.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hidden");
    });
    function initViewTabCredit() {

        $('#jqGridContainerBox_view_tab').empty();

        var table = $('<table id="jqGrid_view_tab"></table>');
        var div = $('<div id="jqGridPager_view_tab"></div>');

        $('#jqGridContainerBox_view_tab').append(table).append(div);
        var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');

        var BillingID = jQuery('#jqGrid').jqGrid('getCell', rowid, "IDX"); //
        //alert(BillingID);
        $("#jqGrid_view_tab").jqGrid({
            url: '@Url.Action("GetCreditData", "Finance")' + '?billingId=' + BillingID,
            mtype: "GET",
            datatype: "json",
            colModel: [
                {
                    align: 'center', label: '@Resources.Language.Credit_IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.Credit_BillingID', name: "BillingID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },

                {
                    align: 'center', label: '@Resources.Language.Credit_CreditCode', name: "CreditCode", width: 200, editable: false, edittype: "text",
                    editrules: { required: true }, hidden: false,
                },
                {
                    align: 'center', label: '@Resources.Language.Credit_CreditContent', name: "CreditContent", width: 200, editable: true, edittype: "textarea",
                    editrules: { required: true }, hidden: false,
                },
                {
                    align: 'center', label: '@Resources.Language.Credit_CreditAmount', name: "CreditAmount", width: 100, editable: true, edittype: "text",
                    editrules: {
                        required: true,
                        custom_func: function (value, column) {
                            var re = /^\d+\.?\d{0,2}$/;
                            if (!re.test(value)) {
                                return [false, '@Resources.Language.Credit_CreditAmount' + ": 请输入两位正小数!"];
                            }
                            else
                                return [true, ""];

                        },
                        custom: true
                    },
                    hidden: false,
                    editoptions: {
                        defaultValue: 1000
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 200, editable: true, edittype: "textarea",
                    editrules: { required: false }, hidden: false,
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 150, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    sorttype: 'date',
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 150, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                },
                @*{
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                },

                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                }*@

            ],
            viewrecords: true,
            height: '100%',
            rowNum: 15,
            autowidth: true,
            editurl: '@Url.Action("AddEditCredit", "Finance")',
            pager: "#jqGridPager_view_tab",
            //loadonce: true,
            rowList: ['15', '20', '30', '40', '50'],
            rownumbers: true,
            shrinkToFit: false,     //指定各列宽度
            sortable: true,          //列可移动
            colMenu: false,         //列菜单

        });

        $("#jqGrid_view_tab").jqGrid('bindKeys');  //光标可以控制上下移动

        $('#jqGridContainerBox_view_tab').resize(function () {
            var width = $('#jqGridContainerBox_view_tab').width();
            $("#jqGrid_view_tab").setGridWidth(width);
        });

        /*if (g_ViewModalIsShown == false)*/ {

            $('#jqGrid_view_tab').navGrid('#jqGridPager_view_tab', { edit: false, add: false, del: false, refresh: true, view: false, search: false })
            .navButtonAdd('#jqGridPager_view_tab', {
                //id: 'jqGrid_ilAdd',
                caption: "预览", title: "预览回扣单", buttonicon: "ui-icon-document",
                onClickButton: function () {
                    var rowid = jQuery('#jqGrid_view_tab').jqGrid('getGridParam', 'selrow');
                    //alert(rowid);
                    if (rowid != null) {

                        //var cell = jQuery('#jqGrid_view_tab').jqGrid('getCell', rowid, "BillingID"); //BillingID
                        //if (cell == null || cell == "")
                        //    AddParent();
                        //else {
                        //    //编辑
                        //    alert('所选记录已有账单，无需重复生成！');
                        //}
                        CreditPreview();
                    }
                    else {
                        alert('选中一行');
                    }
                },

            });
        }

        g_ViewModalIsShown = true;
    }
    function CreditPreview() {
        //jqGrid_view_tab

        var rowid = jQuery('#jqGrid_view_tab').jqGrid('getGridParam', 'selrow');
        var creditId = jQuery('#jqGrid_view_tab').jqGrid('getCell', rowid, "IDX"); //CreditId
        var billingId = jQuery('#jqGrid_view_tab').jqGrid('getCell', rowid, "BillingID"); //BillingID
        //open('/Report/CreditNotePage' + '?OrderID=' + orderId + '&CreditID=' + creditId)
        open('/Report/CreditNotePage' + '?BillingID=' + billingId + '&CreditID=' + creditId)
        //alert("orderId = " + orderId + "  creditId = " + creditId +"  弹出回扣单报表");
    }
</script>