
@{
    ViewBag.Title = "BillingScheme";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.MenuId = "menu2";
    ViewBag.SubMenuIndex = 2;
}



<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <a href="#">@Resources.Language.Order</a>
                                </li>
                                <li>
                                    @Resources.Language.OrderManage
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.OrderManage</h4>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">

                                <div class="row">

                                    <!-- ORDER SCROLL -->
                                    <div class="col-md-4">
                                        

                                        <div class="panel panel-default">

                                            

                                            <div class="panel-body orders">
                                                
                                                <div class="scroller" data-height="650px" data-always-visible="1" data-rail-visible="1">

                                                    <div class="padding-bottom-20">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button">Go!</button>
                                                            </span>
                                                        </div>
                                                    </div>


                                                    <ul class="list-unstyled">

                                                        <li class="clearfix" onclick="alert(1)">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A14</strong> Rikki S. Stover</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 9, 2013">Oct 9, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$124.00</h4>
                                                                <p>
                                                                    <span class="label label-success arrow-in-right"><i class="fa fa-check"></i> Complete</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                                                    <span class="sr-only">85% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A15</strong> Scott Allen</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 10, 2013">Oct 10, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$235.00</h4>
                                                                <p>
                                                                    <span class="label label-warning arrow-in-right"><i class="fa fa-cog"></i> In Progress</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                                                    <span class="sr-only">30% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A16</strong> Larry Wright</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$77.00</h4>
                                                                <p>
                                                                    <span class="label label-primary arrow-in-right"><i class="fa fa-archive"></i> Archived</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                                                    <span class="sr-only">97% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>


                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A17</strong> John Dale</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 10, 2013">Oct 10, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$174.00</h4>
                                                                <p>
                                                                    <span class="label label-danger arrow-in-right"><i class="fa fa-star"></i> New</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                                                    <span class="sr-only">10% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>


                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A18</strong> MJ Perkins</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$68.00</h4>
                                                                <p>
                                                                    <span class="label label-info arrow-in-right"><i class="fa fa-truck"></i> In Transit</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                                                    <span class="sr-only">50% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        

                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A19</strong> Stephen Stover</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 9, 2013">Oct 9, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$124.00</h4>
                                                                <p>
                                                                    <span class="label label-success arrow-in-right"><i class="fa fa-check"></i> Complete</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                                    <span class="sr-only">80% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>


                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A20</strong> Edward Lus</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$52.00</h4>
                                                                <p>
                                                                    <span class="label label-danger arrow-in-right"><i class="fa fa-star"></i> New</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                                                    <span class="sr-only">20% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>


                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A21</strong> Alice Mangrum</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$14.00</h4>
                                                                <p>
                                                                    <span class="label label-info arrow-in-right"><i class="fa fa-truck"></i> In Transit</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                                    <span class="sr-only">65% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>


                                                        <li class="clearfix">
                                                            <div class="pull-left">
                                                                <p>
                                                                    <h5><strong>#A22</strong> Tamika Owens</h5>
                                                                </p>
                                                                <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr></p>

                                                            </div>
                                                            <div class="text-right pull-right">
                                                                <h4 class="cost">$604.00</h4>
                                                                <p>
                                                                    <span class="label label-warning arrow-in-right"><i class="fa fa-cog"></i> In Progress</span>
                                                                </p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                                    <span class="sr-only">75% Complete</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class='text-center'>
                                                <ul class='pagination'>
                                                    <li class='disabled'>
                                                        <a href='#'>
                                                            <i class='fa fa-angle-left'></i>
                                                        </a>
                                                    </li>
                                                    <li class='active'>
                                                        <a href='#'>
                                                            1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>2</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>3</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>4</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>5</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <i class='fa fa-angle-right'></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ORDER SCROLL -->


                                    <div class="col-md-8">
                                        <div id="contact-card" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">John Doe</h2>
                                            </div>
                                            <div class="panel-body">
                                                <div id="card" class="row">
                                                    <div class="col-md-6 headshot">
                                                        <img src="~/Resources/Frame/img/logo/logo.png" alt="" height="200" width="200" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td><i class="fa fa-font"></i> Name</td>
                                                                    <td id="card-name">John Doe</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-home"></i> Address</td>
                                                                    <td>
                                                                        795 Folsom Ave, Suite 600
                                                                        San Francisco, CA 94107
                                                                        P: (123) 456-7890
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-phone"></i> Phone</td>
                                                                    <td>+001 8753-3648-002</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-envelope"></i> Email</td>
                                                                    <td>sampleemail@gmail.com</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<table id="jqGrid"></table>
            <div id="jqGridPager"></div>*@
                                </div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
            </div>
        </div>
    </div>
</div>
