@{
    ViewBag.Title = "Index";
    ViewBag.MenuId = "menu2";
    ViewBag.SubMenuIndex = 1;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@model TugDataModel.OrderInfor



<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">

                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">UI Features</a>
                                </li>
                                <li>Grid</li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="box border orange">
                            @*<div class="box-title">

                                </div>*@
                            <div class="box-body">
                                <div>
                                    <ul>
                                        <li>@Model.Code</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>jqGird Example</h4>
                            </div>
                            <div class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(function () {

        if (tableConfig == null)
        {
            GetTableConfig();
        }

        $("#jqGrid").jqGrid({
            //url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
            url:'@Url.Action("GetData", "Home")',
            mtype: "GET",
            datatype: "json",
            colModel: tableConfig.columns,
        //    [
        //{ label: 'OrderID', name: 'OrderID', key: true, width: 75 },
        //        { label: 'Customer ID', name: 'CustomerID', width: 150 },
        //        { label: 'Order Date', name: 'OrderDate', width: 150 },
        //        { label: 'Freight', name: 'Freight', width: 150 },
        //        { label:'Ship Name', name: 'ShipName', width: 150 }
        //]
			viewrecords: true,
            width: 780,
            height: 250,
            rowNum: 20,
            autowidth: true,
            editurl: '@Url.Action("AddEdit", "Home")',
            pager: "#jqGridPager",
            loadonce : true
            
        });

        $('#jqGrid').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });

        $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false }
            @*{},
            {},
            {
                bSubmit: '删除',
                reloadAfterSubmit : true,
                url: '@Url.Action("Delete", "Home")'
            }*@
            ).navButtonAdd('#jqGridPager', {
                caption: "", title: "删除选中的行", buttonicon: "ui-icon-trash",
                onClickButton: function () {
                    var gr = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                    if (gr != null) {
                        if (confirm('delete?')) {
                            var d = new Date();
                            $.ajax(
                                {
                                    type: "post",
                                    url: '@Url.Action("Delete", "Home")',
                                    data: {'oper':'delete', 'id':gr},//"oper=delete&id=" + gr,
                                    dataType : 'json',
                                    success: function (result) {
                                        alert(JSON.stringify(result));
                                        //jQuery("#jqGrid").trigger("reloadGrid");
                                        jQuery("#jqGrid").jqGrid('delRowData', gr);
                                    },

                                }
                                );
                        }
                    }
                    else
                    {
                        alert('选中一行');
                    }
                },
                position : "first"
            });

        $('#jqGrid').inlineNav('#jqGridPager',
            {
                edit: true,
                add: true,
                del: true,
                cancel: true,
                editParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            alert(val.responseText);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    url: null, //'/api/values',
                    mtype: 'POST'
                },

                addParams: {
                    keys: true,
                    //oneditfunc: function (rowid) {
                    //    alert(rowid);
                    //},
                    //aftersavefunc: function (rowid, xhr) {
                    //    alert(rowid);
                    //},
                    extraparam: {},
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            alert(val.responseText);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    }
                }
            });

    });

    function GetTableConfig() {
        tableConfig = {
            columns: [
                { label: "订单号", name: "OrderID", width: 75, editable: false, edittype: "text", editrules: { required: true }, hidden: false, searchoptions: {sopt:["ge", "le"]} },
                { label: "客户ID", name: "CustomerID", width: 150, editable: false, edittype: "text", editrules: { required: true }, hidden: true },
                { label: "订单日期", name: "OrderDate", width: 150, editable: false, edittype: "text", editrules: { required: true }, hidden: false },
                { label: "货运", name: "Freight", width: 150, editable: true, edittype: "text", editrules: { required: true }, hidden: false },
                { label: "船名", name: "ShipName", width: 150, editable: true, edittype: "text", editrules: { required: true }, hidden: false }

            ]
        };
    }

</script>