
@{
    ViewBag.Title = "Invoice";
    ViewBag.MenuId = "menu6";
    ViewBag.SubMenuIndex = 0;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div id="main-content">
    <!-- Parent MODAL FORM-->
    <div class="modal fade" id="parent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="model-dlg" class="modal-dialog" style="width:900px">
            <div class="modal-content modal-table">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">拖轮选择</h4>
                    </div>*@
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box border blue">
                                <div class="box-title">
                                    <h4><i class="fa fa-windows"></i>生成账单</h4>
                                    <div class="tools hidden-xs">
                                        <a href="javascript:;" class="" onclick="$('#parent-modal').modal('hide');">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="box-body big">
        
                                    <div id="div_search" class="col-lg-12" style="padding-bottom:10px">    
                                        
                                        <div class="col-xs-3">
                                            选择计费方案
                                            <select id="sel_billing_scheme" class="form-control" onchange="billingSchemeChanged($(this).val())">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            选择账单类型
                                            <select id="sel_billing_type" class="form-control">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            选择计时方式
                                            <select id="sel_time_type" class="form-control">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>

                                        <div class="col-xs-3">
                                            <button type="submit" class="btn btn-pink" style="margin-top:17px" onclick="reGenerate()">重新生成</button>
                                        </div>

                                    </div>

                                    <div style="margin:8px;padding:0px; width:820px;height:1px;background-color:black;overflow:hidden;"></div>

                                    <div id="div_services" class="col-md-12">
                                        <div class="col-md-2">
                                            <p>服务项目:<br>SERVICE:</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>服务项目:<br>SERVICE:</p>
                                            <p>服务项目:<br>SERVICE:</p>
                                            <p>服务项目:<br>SERVICE:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>服务项目:<br>SERVICE:</p>
                                        </div>
                                    </div>


                                    <div style="margin:8px;padding:0px; width:820px;height:1px;background-color:black;overflow:hidden;"></div>
                                    
                                    <div id="div_detail">
                                        <table id="tb_detail" data-toggle="table">
                                            <thead>
                                                <tr>
                                                    <th width="" rowspan="2" data-halign="center" data-align="center" data-valign="bottom">拖轮</th>
                                                    <th width="" colspan="2" data-halign="center" data-align="center" data-valign="middle">泊码头</th>
                                                    <th width="" colspan="3" data-halign="center" data-align="center" data-valign="middle">离码头</th>
                                                    <th width="" colspan="1" data-halign="center" data-align="center" data-valign="middle">护航</th>
                                                </tr>
                                                <tr>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">海发</th>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">海泰</th>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">海友</th>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>
                                                    <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="checkbox" class=""> 离厂时间</td>
                                                    <td>08:00</td>
                                                    <td>12:20</td>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 回厂时间
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 工作时间
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 协议收费
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 合计港币
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        工作耗时
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 燃油附加费
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 拖缆费
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class=""> 总数港币
                                                    </td>
                                                    <td>Item 2</td>
                                                    <td>￥3.00</td>
                                                    <td>2</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    @*<td colspan="13" style="text-align:right">共&nbsp; 计&nbsp;港&nbsp;币：12333 <br> Grand Total HKS</td>*@
                                                    <td colspan="6" style="text-align:right"><strong>共&nbsp;计&nbsp;港&nbsp;币：<br> Grand Total HKS</strong></td>
                                                    <td style="text-align:center;"><strong>12345.67</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>


                                    <div id="parentErrMsg" class="alert alert-block alert-warning fade in" hidden>
                                        @*<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>*@
                                        <i class="fa fa-exclamation-circle"></i><p style=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="_CustomerID" hidden>-1</div>
                    <div id="_ShipID" hidden>-1</div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="submitParentModal()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Parent MODAL FORM-->

    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <i class="fa fa-usd"></i>
                                    <a href="#">@Resources.Language.Finance</a>
                                </li>
                                <li>
                                    @Resources.Language.GenerateInvoice
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                            @*<div><button class="btn btn-danger" onclick="AddParent()">Add Parent</button></div>*@
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.Order</h4>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- 父Grid -->
<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(Init);

    function Init() {
        {
            if (tableConfig == null) {
                GetTableConfig();
            }

            $("#jqGrid").jqGrid({
                url: '@Url.Action("GetData", "OrderManage")',
                mtype: "GET",
                datatype: "json",
                colModel: tableConfig.columns,
                viewrecords: true,
                //width: 780,
                height: '100%', //'auto', //350,
                rowNum: 20,
                autowidth: true,
                editurl: null,//'@Url.Action("AddEdit", "OrderManage")',
                pager: "#jqGridPager",
                //loadonce: true,
                rowList: ['20', '30', '50', '80', '100'],
                rownumbers: true,
                shrinkToFit: false,     //指定各列宽度
                sortable: true,          //列可移动
                //footerrow: true,
                colMenu: true,          //列菜单

                subGrid: true,
                subGridRowExpanded: showChildGrid,
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e"
                },
            });

            $('#jqGrid').jqGrid('filterToolbar',
                {
                    searchResult: true, searchOperators: true,
                    beforeSearch: function () {
                        //alert(1);
                        //alert($("#gs_Code").val());
                        var util = new Util();

                        var ret = true;
                        //时间
                        if ($("#gs_WorkTime").val() != null && $("#gs_WorkTime").val() != "")
                            ret = ret && util.isTime('@Resources.Language.V_OrderInfor_WorkTime', $("#gs_WorkTime").val());
                        if ($("#gs_EstimatedCompletionTime").val() != null && $("#gs_EstimatedCompletionTime").val() != "")
                            ret = ret && util.isTime('@Resources.Language.V_OrderInfor_EstimatedCompletionTime', $("#gs_EstimatedCompletionTime").val());

                        //日期
                        if ($("#gs_WorkDate").val() != null && $("#gs_WorkDate").val() != "")
                            ret = ret && util.isDate('@Resources.Language.V_OrderInfor_WorkDate', $("#gs_WorkDate").val());
                        if ($("#gs_CreateDate").val() != null && $("#gs_CreateDate").val() != "")
                            ret = ret && util.isDateTime('@Resources.Language.CreateDate', $("#gs_CreateDate").val());
                        if ($("#gs_LastUpDate").val() != null && $("#gs_LastUpDate").val() != "")
                            ret = ret && util.isDateTime('@Resources.Language.LastUpDate', $("#gs_LastUpDate").val());


                        if ($("#gs_BigTugNum").val() != null && $("#gs_BigTugNum").val() != "")
                            ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_BigTugNum', $("#gs_BigTugNum").val());
                        if ($("#gs_MiddleTugNum").val() != null && $("#gs_MiddleTugNum").val() != "")
                            ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_MiddleTugNum', $("#gs_MiddleTugNum").val());
                        if ($("#gs_SmallTugNum").val() != null && $("#gs_SmallTugNum").val() != "")
                            ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_SmallTugNum', $("#gs_SmallTugNum").val());

                        //自定义字段
                        if ($("#gs_UserDefinedCol5").val() != null && $("#gs_UserDefinedCol5").val() != "")
                            ret = ret && util.isValidFloat('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol5").val());
                        if ($("#gs_UserDefinedCol6").val() != null && $("#gs_UserDefinedCol6").val() != "")
                            ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol6").val());
                        if ($("#gs_UserDefinedCol7").val() != null && $("#gs_UserDefinedCol7").val() != "")
                            ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol7").val());
                        if ($("#gs_UserDefinedCol8").val() != null && $("#gs_UserDefinedCol8").val() != "")
                            ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol8").val());
                        if ($("#gs_UserDefinedCol9").val() != null && $("#gs_UserDefinedCol9").val() != "")
                            ret = ret && util.isDateTime('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol9").val());
                        if ($("#gs_UserDefinedCol10").val() != null && $("#gs_UserDefinedCol10").val() != "")
                            ret = ret && util.isDateTime('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol10").val());

                        //alert(ret); //ret为true，说明验证客户端验证通过，需要进行搜索；反之，不进行搜索
                        return !ret; //beforeSearch 返回true不触发搜索，false出发搜索
                    }
                });


            $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

            $('#jqGridContainerBox').resize(function () {
                var width = $('#jqGridContainerBox').width();
                $("#jqGrid").setGridWidth(width);
            });

            $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })

                .navButtonAdd('#jqGridPager', {
                    id: 'jqGrid_ilrefresh',
                    caption: "", title: "刷新", buttonicon: "ui-icon-refresh",
                    onClickButton: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                .navButtonAdd('#jqGridPager', {
                    caption: "", title: "清空搜索", buttonicon: "ui-icon-circle-minus",
                    onClickButton: function () {
                        var grid = $('#jqGrid')[0];
                        grid.clearToolbar();
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                .navSeparatorAdd("#jqGridPager", { sepclass: "ui-separator", sepcontent: '' })
                .navButtonAdd('#jqGridPager', {
                    id: 'jqGrid_ildelete',
                    caption: "", title: "删除选中的行", buttonicon: "ui-icon-trash",
                    onClickButton: function () {
                        var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                        var dr = jQuery("#jqGrid").jqGrid('getRowData', rowid);//得到该行的数据
                        if (rowid != null) {
                            if (confirm('确定要删除所选的记录吗?')) {
                                var d = new Date();
                                $.ajax(
                                    {
                                        type: "post",
                                        url: '@Url.Action("Delete", "OrderManage")',
                                        data: { 'oper': 'delete', 'data': dr },//"oper=delete&id=" + gr,
                                        dataType: 'json',
                                        success: function (result) {
                                            alert(result.message);
                                            //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                                            $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                        },

                                    }
                                    );
                            }
                        }
                        else {
                            alert('选中一行');
                        }
                    },
                    position: "last"
                }).navButtonAdd('#jqGridPager', {
                    //id: 'jqGrid_ilrefresh',
                    caption: "", title: "新增", buttonicon: "ui-icon-plus",
                    onClickButton: function () {
                        var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow'); 
                        if (rowid != null) {
                            g_curRowId = rowid;
                            AddParent();
                        }
                        else {
                            alert('选中一行');
                        }  
                    },

                });


            //最后调用，冻结列
            //$("#jqGrid").jqGrid("setFrozenColumns");
        }
    }

    function GetTableConfig() {
        tableConfig = {
            columns: [

                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_IsGuest', name: "IsGuest", width: 120, editable: false, edittype: "checkbox",
                    editrules: { required: true }, /*colmenu: false,*/
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    hidden: false,
                    stype: 'select',

                    searchoptions: {
                        //sopt: ["ge", "le"],
                        value: "全部:全部;是:是;否:否",
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_Code', name: "Code", width: 100, editable: false, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {
                        //defaultValue: function () { return Date().toString(); }
                    },
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_CustomerID', name: "CustomerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, integer: true },
                    hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_CustomerName', name: "CustomerName", width: 120, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkDate', name: "WorkDate", width: 120,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d',
                                step: 1,
                                timepicker: false
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkTime', name: "WorkTime", width: 100, editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'H:i',
                                step: 1,
                                datepicker: false
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_EstimatedCompletionTime', name: "EstimatedCompletionTime", width: 120,
                    editable: true, edittype: "text",
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'H:i',
                                step: 1,
                                datepicker: false
                            });
                        },
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkPlace', name: "WorkPlace", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ServiceNatureIDS', name: "ServiceNatureIDS", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ServiceNatureNames', name: "ServiceNatureNames", width: 260, editable: true, edittype: "custom",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ShipID', name: "ShipID", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    editrules: { required: true, integer: true },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ShipName', name: "ShipName", width: 120, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_BigTugNum', name: "BigTugNum", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true, minValue: 0 }, hidden: false,
                    editoptions: {
                        defaultValue: 0
                    },
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_MiddleTugNum', name: "MiddleTugNum", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true, minValue: 0 }, hidden: false,
                    editoptions: {
                        defaultValue: 0
                    },
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_SmallTugNum', name: "SmallTugNum", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true, minValue: 0 }, hidden: false,
                    editoptions: {
                        defaultValue: 0
                    },
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkMan', name: "LinkMan", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkPhone', name: "LinkPhone", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkEmail', name: "LinkEmail", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, email: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },


                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateID', name: "WorkStateID", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, custom_func: function () { return [true, ""]; }/*validateTugID*/, custom: true }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateValue', name: "WorkStateValue", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, custom_func: function () { return [true, ""]; }/*validateTugID*/, custom: true }, hidden: true,

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateLabel', name: "WorkStateLabel", width: 120, editable: false, edittype: "select",
                    editrules: { required: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    stype: "select",
                    searchoptions: {
                        dataUrl: '@Url.Action("GetCustomField", "Base", new { CustomName = "OrderInfor.WorkStateID"})',
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 200, editable: true, edittype: "textarea",
                    editrules: { required: false }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 200, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 200, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                },

                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false }

                },
                { align: 'center', label: 'Billing', name: "Billing", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true },
                { align: 'center', label: 'Scheduler', name: "Scheduler", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true }

            ]
        };
    }

</script>


<!-- 子Grid -->
<script>

    // the event handler on expanding parent row receives two parameters
    // the ID of the grid tow  and the primary key of the row
    function showChildGrid(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";

        var dr = jQuery("#jqGrid").jqGrid('getRowData', parentRowKey);
        var childGridURL = '@Url.Action("ViewInvoice", "Finance")' + "?lan=" + '@ViewBag.Language' + "&orderId=" + dr.IDX;
        
        //var html = '<div><input type="text" value="123"/></div>'

        $.ajax({
            url: childGridURL,//parentRowKey + ".html",
            type: "GET",
            success: function (html) {
                $("#" + parentRowID).append(html);
            }
        });




        
    }
</script>


<!-- 模态框 -->
<script type="text/javascript">
    var g_curRowId = '';

    function AddParent() {
        $('#parent-modal').modal()

    }

    function initParentModal() {
        $('#parentErrMsg').hide();

        //$("#sel_billing_scheme option:first").prop("selected", 'selected');
        //$("#sel_billing_type option:first").prop("selected", 'selected');
        //$("#sel_time_type option:first").prop("selected", 'selected');

        //$("input[name='serviceCheckbox']").each(function () {
        //    $(this).attr("checked", false);
        //});
        $('#sel_billing_type').attr('disabled', false);
        $('#sel_time_type').attr('disabled', false);

        var dr = jQuery("#jqGrid").jqGrid('getRowData', g_curRowId);//得到该行的数据

        $.ajax({
            type: "get",
            url: '@Url.Action("InitFilter", "Finance")',
            data: {
                'custId': dr.CustomerID,
                'orderId': dr.IDX
            },//"oper=delete&id=" + gr,
            dataType: 'json',
            success: function (result) {
                
                $('#sel_billing_scheme').empty();
                $('#sel_billing_type').empty();
                $('#sel_time_type').empty();
                $('#div_services').empty();
                $('#tb_detail').empty();

                //alert(result.customer_billing_schemes.length);
                if (result.customer_billing_schemes.length <= 0) {
                    var option = $('<option value="-1">无</option>')
                    $('#sel_billing_scheme').append(option);

                    //option = $('<option value="-2">无2</option>')
                    //$('#sel_billing_scheme').append(option);
                } else {
                    var option = $('<option value="-1">不使用</option>');
                    $('#sel_billing_scheme').append(option);
                    for (var i = 0; i < result.customer_billing_schemes.length; i++) {

                        var v = result.customer_billing_schemes[i].IDX
                            + "%"
                            + customer_billing_schemes[i].BillingTemplateTypeID + "~" + customer_billing_schemes[i].BillingTemplateTypeValue + "~" + customer_billing_schemes[i].BillingTemplateTypeLabel
                            + "%"
                            + customer_billing_schemes[i].TimeTypeID + "~" + customer_billing_schemes[i].TimeTypeValue + "~" + customer_billing_schemes[i].TimeTypeLabel;

                        option = $('<option value="' + v + '">' + result.customer_billing_schemes[i].BillingTemplateName + '</option>')
                        $('#sel_billing_scheme').append(option);
                    }
                }

                
                for (var i = 0; i < result.billing_template_types.length; ++i) {
                    var option = $('<option value="' + result.billing_template_types[i].IDX + '~' + result.billing_template_types[i].CustomValue + '~' + result.billing_template_types[i].CustomLabel + '">' + result.billing_template_types[i].CustomLabel + '</option>')
                    $('#sel_billing_type').append(option);
                }
                for (var i = 0; i < result.time_types.length; i++) {
                    var option = $('<option value="' + result.time_types[i].IDX + '~' + result.time_types[i].CustomValue + '~' + result.time_types[i].CustomLabel + '">' + result.time_types[i].CustomLabel + '</option>')
                    $('#sel_time_type').append(option);
                }

                $("#sel_billing_scheme option:first").prop("selected", 'selected');
                $("#sel_billing_type option:first").prop("selected", 'selected');
                $("#sel_time_type option:first").prop("selected", 'selected');

                var timeTypeId = $("#sel_time_type").val().toString().split('~')[0];
                var timeTypeValue = $("#sel_time_type").val().toString().split('~')[1];
                var timeTypeLabel = $("#sel_time_type").val().toString().split('~')[2];

                reGenerate(dr.IDX, timeTypeId, timeTypeValue, timeTypeLabel)

            },
        });
    }

    $('#parent-modal').on('show.bs.modal', function (e) {
        initParentModal();

        //var invoker = $(e.relatedTarget);
        //alert(invoker.html());
    });

    $('#parent-modal').on('shown.bs.modal', function (e) {
        //var invoker = $(e.relatedTarget);
        //alert(invoker.html());

    });
    $('#parent-modal').on('hide.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hide");
    });
    $('#parent-modal').on('hidden.bs.modal', function () {
        //jQuery("#jqGrid2").jqGrid('GridDestroy', 'jqGrid2');
        $(this).removeData("bs.modal");
        //alert("hidden");
    });


    function submitParentModal() {

        $('#parentErrMsg').hide();
        $('#_CustomerName').parent().removeClass("has-error");
        $('#_WorkDate').parent().removeClass("has-error");
        $('#_WorkTime').parent().removeClass("has-error");
        $('#_EstimatedCompletionTime').parent().removeClass("has-error");

        $('#_ShipName').parent().removeClass("has-error");
        $('#_WorkPlace').parent().removeClass("has-error");
        $('#_ServiceNatureNames').removeClass("has-error");

        $('#_BigTugNum').parent().removeClass("has-error");
        $('#_MiddleTugNum').parent().removeClass("has-error");
        $('#_SmallTugNum').parent().removeClass("has-error");


        $('#_LinkMan').parent().removeClass("has-error");
        $('#_LinkPhone').parent().removeClass("has-error");
        $('#_LinkEmail').parent().removeClass("has-error");
        $('#_Remark').parent().removeClass("has-error");


        var maxTextLength = 25;
        var maxTextAreaLength = 500;


        var customerId = $("#_CustomerID").text();
        var customerName = $("#_CustomerName").val().trim();
        var workDate = $("#_WorkDate").val().trim();
        var workTime = $("#_WorkTime").val().trim();
        var estimatedCompletionTime = $("#_EstimatedCompletionTime").val().trim();
        var shipId = $("#_ShipID").text();
        var shipName = $("#_ShipName").val().trim();
        var workPlace = $("#_WorkPlace").val().trim();
        var bigTugNum = $("#_BigTugNum").val().trim();
        var middleTugNum = $("#_MiddleTugNum").val().trim();
        var smallTugNum = $("#_SmallTugNum").val().trim();
        var linkMan = $("#_LinkMan").val().trim();
        var linkPhone = $("#_LinkPhone").val().trim();
        var linkEmail = $("#_LinkEmail").val().trim();
        var remark = $("#_Remark").val().trim();

        if (customerName.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_CustomerName' + "必填");
            $('#_CustomerName').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        } else if (customerName.length > maxTextLength) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_CustomerName' + "长度不能超过" + maxTextLength);
            $('#_CustomerName').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        else if (workDate.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_WorkDate' + "必填");
            $('#_WorkDate').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        else if (workTime.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_WorkTime' + "必填");
            $('#_WorkTime').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        else if (estimatedCompletionTime.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_EstimatedCompletionTime' + "必填");
            $('#_EstimatedCompletionTime').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        else if (shipName.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_ShipName' + "必填");
            $('#_ShipName').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        } else if (shipName.length > maxTextLength) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_ShipName' + "长度不能超过" + maxTextLength);
            $('#_ShipName').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }


        else if (workPlace.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_WorkPlace' + "必填");
            $('#_WorkPlace').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        } else if (workPlace.length > maxTextLength) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_WorkPlace' + "长度不能超过" + maxTextLength);
            $('#_WorkPlace').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        var hasChecked = false;
        var serviceNatureIds = '', serviceNatureNames = '';
        $("input[name='serviceCheckbox']").each(function () {
            if ($(this).is(':checked')) {

                hasChecked = true;
                serviceNatureIds += $(this).val().toString().split('~')[0] + '/';
                serviceNatureNames += $(this).val().toString().split('~')[2] + '/';
            }
        });

        if (hasChecked == true) {
            serviceNatureIds = serviceNatureIds.substr(0, serviceNatureIds.length - 1);
            serviceNatureNames = serviceNatureNames.substr(0, serviceNatureNames.length - 1)
        }
        else {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_ServiceNatureNames' + ":至少选择一项服务内容");
            $('#_ServiceNatureNames').addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }
        //alert(serviceNatureIds);
        //alert(serviceNatureNames);


        if (bigTugNum.length > 0) {
            var r = bigTugNum.match("^\\d+$");
            if (r == null) {
                $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_BigTugNum' + ":请输入大于或等于0的整数");
                $('#_BigTugNum').parent().addClass("has-error");
                $('#parentErrMsg').show();
                return;
            }
        }

        else if (middleTugNum.length > 0) {
            var r = middleTugNum.match("^\\d+$");
            if (r == null) {
                $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_MiddleTugNum' + ":请输入大于或等于0的整数");
                $('#_MiddleTugNum').parent().addClass("has-error");
                $('#parentErrMsg').show();
                return;
            }
        }

        else if (smallTugNum.length > 0) {
            var r = smallTugNum.match("^\\d+$");
            if (r == null) {
                $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_SmallTugNum' + ":请输入大于或等于0的整数");
                $('#_SmallTugNum').parent().addClass("has-error");
                $('#parentErrMsg').show();
                return;
            }
        }

        else if (linkMan.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_LinkMan' + "必填");
            $('#_LinkMan').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        } else if (linkMan.length > maxTextLength) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_LinkMan' + "长度不能超过" + maxTextLength);
            $('#_LinkMan').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        else if (linkPhone.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_LinkPhone' + "必填");
            $('#_LinkPhone').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        } else if (linkPhone.length > maxTextLength) {
            $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_LinkPhone' + "长度不能超过" + maxTextLength);
            $('#_LinkPhone').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }


        else if (linkEmail.length > 0) {
            var util = new Util();

            if (false == util.isEmail2(linkEmail)) {
                $('#parentErrMsg p').html('@Resources.Language.V_OrderInfor_LinkEmail' + ":输入的电子邮件无效");
                $('#_LinkEmail').parent().addClass("has-error");
                $('#parentErrMsg').show();
                return;
            }

        }

        else if (remark.length > maxTextAreaLength) {
            $('#parentErrMsg p').html('@Resources.Language.Remark' + "长度不能超过" + maxTextAreaLength);
            $('#_Remark').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }

        //提交数据库
        $.ajax({
            type: "post",
            url: '@Url.Action("AddOrder", "OrderManage")',
            data: {
                'customerId': customerId,
                'customerName': customerName,
                'workDate': workDate,
                'workTime': workTime,
                'estimatedCompletionTime': estimatedCompletionTime,
                'shipId': shipId,
                'shipName': shipName,
                'workPlace': workPlace,
                'serviceNatureIds': serviceNatureIds,
                'serviceNatureNames': serviceNatureNames,
                'bigTugNum': bigTugNum,
                'middleTugNum': middleTugNum,
                'smallTugNum': smallTugNum,
                'linkMan': linkMan,
                'linkPhone': linkPhone,
                'linkEmail': linkEmail,
                'remark': remark,
            },//"oper=delete&id=" + gr,
            dataType: 'json',
            success: function (result) {

                $('#parent-modal').modal('hide')
                //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                //$('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                alert(result.message);

                $('#jqGrid').jqGrid('setGridParam',
                {
                    datatype: 'json',
                    url: '@Url.Action("GetData", "OrderManage")',
                }).trigger('reloadGrid');

                $("#jqGrid").jqGrid('setGridParam', { editurl: '@Url.Action("AddEdit", "OrderManage")' });

            },
        });

    }
</script>


<script type="text/javascript">
    function cellStyle(value, row, index) {
        return {
            //classes: 'text-nowrap another-class',
            css: { "color": "blue"}
        };
    }


    function reGenerate(orderId, timeTypeId, timeTypeValue, timeTypeLabel) {
        //$('#tb_detail').empty();

        
        $.ajax({
            type: "get",
            url: '@Url.Action("NewInvoice", "Finance")',
            data: {
                'orderId': orderId,
                'timeTypeId': timeTypeId,
                'timeTypeValue': timeTypeValue,
                'timeTypeLabel': timeTypeLabel
            },//"oper=delete&id=" + gr,
            dataType: 'json',
            success: function (result) {
                $('#tb_detail').empty();
                $('#div_services').empty();

                var div1 = $('<div class="col-md-2"><p>服务项目:<br>SERVICE:</p></div>');
                var div2 = $('<div class="col-md-2"></div>');
                var div3 = $('<div class="col-md-8"></div>');
                for (key in result.invoice.ServiceNature)
                {
                    var value = result.invoice.ServiceNature[key];
                    var p = $('<p>' + value.ServiceName + '</p>')
                    div2.append(p);

                    p = $('<p>' + value.ServiceRemark + '</p>');
                    div3.append(p)
                }
               
                $('#div_services').append(div1).append(div2).append(div3);

                //生成表格

            },
        });


        var table = $('<table id="tb_detail" data-toggle="table"><thead><tr><th width="" rowspan="2" data-halign="center" data-align="center" data-valign="bottom">拖轮</th></tr></thead></table>')

        //$('#div_detail').append(table);
    }
    

    function billingSchemeChanged(selectedValue) {

        //alert(selectedValue);
        if (selectedValue != -1) {
            $('#sel_billing_type').attr('disabled', true);
            $('#sel_time_type').attr('disabled', true);

            $("#sel_billing_type option:first").prop("selected", 'selected');
            $("#sel_time_type option:first").prop("selected", 'selected');
        }
        else {

            $('#sel_billing_type').attr('disabled', false);
            $('#sel_billing_type').val(selectedValue.split('%')[1]);

            $('#sel_time_type').attr('disabled', false);
            $('#sel_time_type').val(selectedValue.split('%')[2]);
        }
    }
</script>