
@{
    ViewBag.Title = "提交审核";
    ViewBag.MenuId = "menu6";
    ViewBag.SubMenuIndex = 1;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<script src="~/Resources/handsontable-master/dist/handsontable.full.min.js"></script>
<link href="~/Resources/handsontable-master/dist/handsontable.full.css" rel="stylesheet" />
<script src="~/Resources/handsontable-master/demo/js/moment/moment.js"></script>
<script src="~/Resources/handsontable-master/demo/js/pikaday/pikaday.js"></script>
<script src="~/Resources/handsontable-master/demo/js/pikaday/css/pikaday.css"></script>

<div id="main-content">

    <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="table-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="model-dlg" class="modal-dialog" style="width: 520px ;height:600px">
            <div class="modal-content modal-table">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">拖轮选择</h4>
                    </div>*@
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border orange">
                                <div class="box-title">
                                    <h4><i class="fa fa-bars"></i>创建流程</h4>
                                </div>
                                <div class="box-body">
                                    <div id="example1"
                                         class="hot handsontable dataTable table-striped center-block">
                                    </div>
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseTug()">选择</button>*@
                    <a href="#" class="btn btn-warning" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->

    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <a href="#">创建流程</a>
                                </li>
                                <li>
                                    流程
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>创建流程</h4>
                            </div>
                            <div class="box-body">
                                <button onclick="$('#table-modal').modal()">提交审核</button>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Variables declaration & to make our life easier we set our HTML tags to variables too
    var container = document.getElementById('example1'),
        hot;

    hot = new Handsontable(container, {
        //data: getCarData(),
        startRows: 2,
        startCols: 4,
        colHeaders: ['流程节点', '人员', '起始日期', '结束日期'],
        columnSorting: true,
        contextMenu: true,
        minSpareRows: 1,
        heigth:500,
        columns: [
          {
              type: 'autocomplete',
              //source: ['创建', '校对', '审核', '会签'],
              //source: 'Flow/GetNodes',
              source: '@Url.Action("GetNodes", "Flow")',
              strict: false,
              width:120
          },
          {
              width: 120
              // 2nd cell is simple text, no special options here
          },
          {
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
              defaultDate: '@DateTime.Now.ToShortDateString()',
              width:120
          },
          {
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
              //defaultDate: '@DateTime.Now.ToShortDateString()'
              width: 120
          }
        ]
    });
    $('#table-modal').on('show.bs.modal', function (e) { });



</script>

