
@{
    ViewBag.Title = Resources.Language.Report;
    ViewBag.MenuId = "menu8";
    //if (ViewBag.reporttype == "Amout_Tug"){
    //    ViewBag.SubMenuIndex = 0;
    //    ViewBag.div_customer_hidden = "hidden";             
    //}
    //else if (ViewBag.reporttype == "Amount_BillType")
    //{
    //    ViewBag.SubMenuIndex = 1;
    //    ViewBag.div_customer_hidden = "hidden";
    //}
    //else if (ViewBag.reporttype == "Amount_Customer")
    //{
    //    ViewBag.SubMenuIndex = 2;
    //    ViewBag.div_customer_hidden = "hidden";
    //}
    if (ViewBag.reporttype == "Tug_ByDay")
    {
        ViewBag.SubMenuIndex = 0;
        //ViewBag.div_customer_hidden = "hidden";
    }
    else if (ViewBag.reporttype == "Billing_List")
    {
        ViewBag.SubMenuIndex = 1;       
        //$('#_div_customer').hidden;
    }          
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div @*class="page-header"*@>
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <i class="fa fa-foursquare"></i>
                                    <a href="#">@Resources.Language.Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@ViewBag.reporttitile</h4>
                            </div>
                            <div class="box-body">
                                <form class="form-horizontal" role="form">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">@Resources.Language.Report_StartDate</label>
                                                <div class="col-sm-9">
                                                    <input id="_Report_StartDate" type="text" class="form-control" placeholder="@Resources.Language.Report_StartDate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">@Resources.Language.Report_EndDate</label>
                                                <div class="col-sm-9">
                                                    <input id="_Report_EndDate" type="text" class="form-control" placeholder="@Resources.Language.Report_EndDate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div id="_div_customer" class="col-sm-4" @ViewBag.div_customer_hidden>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">@Resources.Language.CustomerName</label>
                                                <div class="col-sm-9">
                                                    <input id="_CustomerName" type="text" class="form-control" placeholder="@Resources.Language.CustomerName" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="_CustomerID" hidden>-1</div>
                                            <button type="button" class="btn btn-danger" onclick="ReSet()">@Resources.Language.Clear</button>
                                            <button type="button" class="btn btn-primary" onclick="GenerateReport()">@Resources.Language.OK</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //当文档载入后从此处开始执行代码
        $('#_Report_StartDate').datetimepicker({
            //format: 'Y-m-d H:i:s',
            format: 'Y-m-d',
            timepicker: false,
        });
        $('#_Report_EndDate').datetimepicker({
            //format: 'Y-m-d H:i:s',
            format: 'Y-m-d',
            timepicker: false,
        });
        $('#_CustomerName').autocomplete({
            source: function (request, response) {
                this.xhr = $.ajax({
                    url: '@Url.Action("GetCustomer", "OrderManage")',
                    data: request,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        response($.map(data.list, function (item) {
                            //alert(item.ContactPerson)
                            return {
                                id: item.CustomerID,
                                label: item.CustomerName1,
                                value: item.CustomerName1,
                                contact_person: item.ContactPerson,
                                telephone: item.Telephone,
                                email: item.Email
                            };
                        }));
                    },

                    error: function (model, response, options) {
                        response([]);
                    }
                });
            },
            select: function (event, ui) {
                if (ui.item != null) {
                    //alert(ui.item.id);
                    $("#_CustomerID").val(ui.item.id);
                }
                else {
                    $("#_CustomerID").val(-1);
                }
            },
            change: function (event, ui) {

                if (ui.item != null) {
                    $("#_CustomerID").val(ui.item.id);
                }
                else {
                    $("#_CustomerID").val(-1);
                }

            },
            autoFocus: true
        });
    });
    function ReSet() {
        $('#_Report_StartDate').val("");
        $('#_Report_EndDate').val("");
        $('#_CustomerName').val("");
        $("#_CustomerID").val(-1);
    }
    function GenerateReport() {
        //alert('@ViewBag.reporttype');
        var startdate = $('#_Report_StartDate').val().trim();
        var enddate = $('#_Report_EndDate').val().trim();
        var customerid = $('#_CustomerID').val().trim();
        if (customerid == '') customerid = -1;
        if (startdate == "" || enddate == "") {
            alert("請輸入日期！ ");
            return ;
        }
        if ('@ViewBag.reporttype' == 'Amout_Tug') {
            open('/Report/Amout_Tug?startdate=' + startdate + '&enddate=' + enddate);
        }
        else if ('@ViewBag.reporttype' == 'Amount_BillType') {
            open('/Report/Amount_BillType?startdate=' + startdate + '&enddate=' + enddate);
        }
        else if ('@ViewBag.reporttype' == 'Amount_Customer') {
            open('/Report/Amount_Customer?startdate=' + startdate + '&enddate=' + enddate);
        }
        else if ('@ViewBag.reporttype' == 'Tug_ByDay') {
            open('/Report/Tug_ByDay?startdate=' + startdate + '&enddate=' + enddate);
        }
        else if ('@ViewBag.reporttype' == 'Billing_List') {
            open('/Report/Billing_List?startdate=' + startdate + '&enddate=' + enddate + '&customerid=' + customerid);
        }
    }
</script>