@{
    ViewBag.Title = "OrderScheduling";
    ViewBag.MenuId = "menu5";
    ViewBag.SubMenuIndex = 1;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@model TugDataModel.Scheduler

<div id="main-content">

    <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="table-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="model-dlg" class="modal-dialog" style="width:1200px">
            <div class="modal-content modal-table">
                @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">拖轮选择</h4>
                </div>*@
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border orange">
                                <div class="box-title">
                                    <h4><i class="fa fa-bars"></i>拖轮选择</h4>
                                </div>
                                <div class="box-body">
                                    <table id="jqGrid2"></table>
                                    <div id="jqGridPager2"></div>
                                    <div id="cur_operate_chid_grid" hidden="hidden" ></div>
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseTug()">选择</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->


    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <a href="#">@Resources.Language.Order</a>
                                </li>
                                <li>
                                    @Resources.Language.OrderScheduling
                                </li>
                                
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.OrderScheduling</h4>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->

                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>

            </div>
        </div>
    </div>


</div>



<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(function () {

        if (tableConfig == null) {
            GetTableConfig();
        }

        $("#jqGrid").jqGrid({
            //url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
            url: '@Url.Action("GetData", "OrderManage")',
            mtype: "GET",
            datatype: "json",
            colModel: tableConfig.columns,
            viewrecords: true,
            //width: 780,
            height: '100%',
            rowNum: 20,
            autowidth: true,
            editurl: '@Url.Action("AddEdit", "OrderManage")',
            pager: "#jqGridPager",
            //loadonce: true,
            rowList: ['20', '30', '50', '80', '100'],
            rownumbers: true,
            shrinkToFit: false,     //指定各列宽度
            sortable: true,          //列可移动
            colMenu: true,         //列菜单

            subGrid: true,
            subGridRowExpanded: showChildGrid,
            subGridOptions: {
                "plusicon": "ui-icon-triangle-1-e",
                "minusicon": "ui-icon-triangle-1-s",
                "openicon": "ui-icon-arrowreturn-1-e"
            },

        });

        $('#jqGrid').jqGrid('filterToolbar', {
            searchResult: true,
            searchOperators: true,
            beforeSearch: function () {
                //alert(1);
                //alert($("#gs_Code").val());
                var util = new Util();

                //时间
                var ret = true;

                if ($("#gs_WorkTime").val() != null && $("#gs_WorkTime").val() != "")
                    ret = ret && util.isTime('@Resources.Language.V_OrderInfor_WorkTime', $("#gs_WorkTime").val());
                if ($("#gs_EstimatedCompletionTime").val() != null && $("#gs_EstimatedCompletionTime").val() != "")
                    ret = ret && util.isTime('@Resources.Language.V_OrderInfor_EstimatedCompletionTime', $("#gs_EstimatedCompletionTime").val());

                //日期
                if ($("#gs_WorkDate").val() != null && $("#gs_WorkDate").val() != "")
                    ret = ret && util.isDate('@Resources.Language.V_OrderInfor_WorkDate', $("#gs_WorkDate").val());
                if ($("#gs_CreateDate").val() != null && $("#gs_CreateDate").val() != "")
                    ret = ret && util.isDate('@Resources.Language.CreateDate', $("#gs_CreateDate").val());
                if ($("#gs_LastUpDate").val() != null && $("#gs_LastUpDate").val() != "")
                    ret = ret && util.isDate('@Resources.Language.LastUpDate', $("#gs_LastUpDate").val());


                if ($("#gs_BigTugNum").val() != null && $("#gs_BigTugNum").val() != "")
                    ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_BigTugNum', $("#gs_BigTugNum").val());
                if ($("#gs_MiddleTugNum").val() != null && $("#gs_MiddleTugNum").val() != "")
                    ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_MiddleTugNum', $("#gs_MiddleTugNum").val());
                if ($("#gs_SmallTugNum").val() != null && $("#gs_SmallTugNum").val() != "")
                    ret = ret && util.isValidNaturalNumber('@Resources.Language.V_OrderInfor_SmallTugNum', $("#gs_SmallTugNum").val());

                //自定义字段
                if ($("#gs_UserDefinedCol5").val() != null && $("#gs_UserDefinedCol5").val() != "")
                    ret = ret && util.isValidFloat('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol5").val());
                if ($("#gs_UserDefinedCol6").val() != null && $("#gs_UserDefinedCol6").val() != "")
                    ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol6").val());
                if ($("#gs_UserDefinedCol7").val() != null && $("#gs_UserDefinedCol7").val() != "")
                    ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol7").val());
                if ($("#gs_UserDefinedCol8").val() != null && $("#gs_UserDefinedCol8").val() != "")
                    ret = ret && util.isValidinteger('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol8").val());
                if ($("#gs_UserDefinedCol9").val() != null && $("#gs_UserDefinedCol9").val() != "")
                    ret = ret && util.isDate('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol9").val());
                if ($("#gs_UserDefinedCol10").val() != null && $("#gs_UserDefinedCol10").val() != "")
                    ret = ret && util.isDate('@Resources.Language.UserDefinedCol5', $("#gs_UserDefinedCol10").val());

                //alert(ret); //ret为true，说明验证客户端验证通过，需要进行搜索；反之，不进行搜索
                return !ret; //beforeSearch 返回true不触发搜索，false出发搜索
            }
        });


        $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

        $('#jqGridContainerBox').resize(function () {
            var width = $('#jqGridContainerBox').width();
            $("#jqGrid").setGridWidth(width);
        });


        $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })

                .navButtonAdd('#jqGridPager', {
                    caption: "", title: "刷新", buttonicon: "ui-icon-refresh",
                    onClickButton: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                .navButtonAdd('#jqGridPager', {
                    caption: "", title: "清空搜索", buttonicon: "ui-icon-circle-minus",
                    onClickButton: function () {
                        var grid = $('#jqGrid')[0];
                        grid.clearToolbar();
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                

        //最后调用，冻结列
        //$("#jqGrid").jqGrid("setFrozenColumns");
    });


    // the event handler on expanding parent row receives two parameters
    // the ID of the grid tow  and the primary key of the row
    function showChildGrid(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";

        var dr = jQuery("#jqGrid").jqGrid('getRowData', parentRowKey);
        //alert(dr.IDX);

        var childGridURL = '@Url.Action("GetOrderSubSchedulerData", "OrderManage")' + "?orderId=" + dr.IDX;

        var str_services = "";
        var serviceNatureIds = dr.ServiceNatureIDS.split("/");
        var serviceNatureNames = dr.ServiceNatureNames.split("/");
        for (var i = 0; i < serviceNatureIds.length; ++i) {
            str_services += serviceNatureIds[i] + "~" + serviceNatureNames[i] + ":" + serviceNatureNames[i] + ";"
        }
        if (serviceNatureIds.length > 0) str_services = str_services.substr(0, str_services.length - 1);


        //alert(childGridURL);

        // send the parent row primary key to the server so that we know which grid to show
        //var childGridURL = parentRowKey + ".json";

        //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');

        $("#" + childGridID).jqGrid({
            url: childGridURL,
            mtype: "GET",
            datatype: "json",
            //page: 1,
            viewrecords: true,
            editurl: '@Url.Action("AddEditScheduler", "OrderManage")',
            colModel: [
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_OrderID', name: "OrderID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: dr.IDX
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_ServiceNatureID', name: "ServiceNatureID", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: true,
                    editoptions: {
                        defaultValue: serviceNatureIds[0]
                    }

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_ServiceNatureLabel', name: "ServiceNatureLabel", width: 100, editable: true, edittype: "select",
                    editrules: { required: true }, hidden: false,
                    editoptions: {
                        value: str_services,
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var rowid = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');//得到最后一次选择的行
                                    if (rowid != null) {
                                        var serviceNatureID_id = rowid + "_ServiceNatureID";
                                        $('#' + serviceNatureID_id).val($(this).val());
                                        //$('#' + workStateID_id).val($(this).find("option:selected").text());
                                    }
                                }
                            }
                        ]
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_TugID', name: "TugID", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    editrules: {
                        required: true,
                        custom_func: function validateTugID(value, column) {
                            var re = /^[1-9]+[0-9]*]*$/;  //判断输入是否是正整数
                            if (!re.test(value))
                                return [false, "请选择一个拖轮"];
                            else
                                return [true, ""];
                        },
                        custom: true
                    },
                    editoptions: { defaultValue: -1 }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_CnName', name: "CnName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {
                        dataInit: function (element) {
                        },

                        dataEvents: [
                            {
                                type: 'focus',
                                fn: function (e) {
                                    g_cur_subGridId = '#' + childGridID;
                                    $('#table-modal').modal()
                                }
                            }
                        ]

                    }

                },

                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_EnName', name: "EnName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {
                        dataInit: function (element) {
                            
                        },

                        dataEvents: [
                            {
                                type: 'focus',
                                fn: function (e) {
                                    g_cur_subGridId = '#' + childGridID;
                                    $('#table-modal').modal()
                                }
                            }
                        ]

                    }
                },
                
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_ChooseTug', name: "SimpleName", width: 100, editable: true, edittype: 'text',
                    editrules: { required: false, edithidden:true }, hidden: false,
                    editoptions: {
                        @*custom_value: function (elem, oper, value){},
                        custom_element: function (value, editOptions) {
                            //var url = '@Url.Action("ChooseTugs", "TugInfor")';
                            //var a = $("<a href='#box-config' data-toggle='modal'>选择拖轮<i class='fa fa-ellipsis-h'></i></a>");        
                            var a = $("<a href='#" + childGridID + "' data-target='#table-modal' data-toggle='modal' class='btn btn-xs btn-success' value = '1'>" + '@Resources.Language.V_OrderScheduler_ChooseTug' + "...</a>");
                            return a;
                    }*@
                        dataEvents: [
                            {
                                type: 'focus',
                                fn: function (e) {
                                    g_cur_subGridId = '#' + childGridID;
                                    $('#table-modal').modal()
                                }
                            }
                        ]
                    }                   
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_JobStateID', name: "JobStateID", width: 100, editable: true, edittype: "text",
                    editrules: {
                        required: true,
                        custom_func: function validateJobStateID(value, column) {
                            var re = /^[0-9]+[0-9]*]*$/;  //判断输入是否是正整数和0
                            if (!re.test(value))
                                return [false, "请选择一个调度作业状态"];
                            else
                                return [true, ""];
                        },
                        custom: true
                    }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }

                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_JobStateLabel', name: "JobStateLabel", width: 100, editable: true, edittype: "select",
                    editrules: { required: true }, hidden: false,
                    editoptions: {
                        dataUrl: '@Url.Action("GetCustomField", "Base", new { CustomName = "Scheduler.JobStateID" })',
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var rowid = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');//得到最后一次选择的行
                                    if (rowid != null) {
                                        var jobStateID_id = rowid + "_JobStateID";
                                        $('#' + jobStateID_id).val($(this).val().split("~")[0]);
                                        //$('#' + workStateID_id).val($(this).find("option:selected").text());
                                    }
                                }
                            }
                        ]
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_InformCaptainTime', name: "InformCaptainTime", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_CaptainConfirmTime', name: "CaptainConfirmTime", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_DepartBaseTime', name: "DepartBaseTime", width: 80, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_ArrivalShipSideTime', name: "ArrivalShipSideTime", width: 80, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_WorkCommencedTime', name: "WorkCommencedTime", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_WorkCompletedTime', name: "WorkCompletedTime", width: 100, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_ArrivalBaseTime', name: "ArrivalBaseTime", width: 80, editable: true, edittype: "text",
                    editrules: { required: true, time: true }, hidden: false,
                    editoptions: {
                        defaultValue: function () { var time = new Date(); return time.Format('hh:mm') }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_RopeUsed', name: "RopeUsed", width: 100, editable: true, edittype: "checkbox",
                    editrules: { required: true }, colmenu: false,
                    editoptions: { value: "是:否"},  //yes:是， no:否
                    hidden: false
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderScheduler_RopeNum', name: "RopeNum", width: 100, editable: true, edittype: "text",
                    editrules: {
                        required: false,
                        custom_func: function(value, column) {

                            var rowid = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');//得到最后一次选择的行
                            if (rowid != null) {
                                var ropeUsed_id = rowid + "_RopeUsed";
                                if (true == $('#' + ropeUsed_id).prop("checked")) {
                                    var re = /^[1-9]+[0-9]*]*$/;

                                    if (!re.test(value)) {
                                        return [false, '@Resources.Language.V_OrderScheduler_RopeNum' + ": 此栏请输入正整数!"];
                                    }
                                    else
                                        return [true, ""];
                                }
                            }

                            return [true, ""];

                        },
                        custom: true
                    },
                    hidden: false,
                    editoptions: { defaultValue: '0' }
                },

                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 200, editable: true, edittype: "textarea",
                    editrules: { required: false }, hidden: false
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 100, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    //formatter: 'date',
                    //formatoptions: { srcformat: 'yyyy-mm-dd', newformat: 'yyyy-mm-dd' },
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    },

                    searchoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 100, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    //formatter: 'date',
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    },
                    searchoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                }
            ],
            loadonce: false,
            rowNum: 10,
            //width: 500,
            autowidth: true,
            height: '100%',
            shrinkToFit: false,     //指定各列宽度
            pager: "#" + childGridPagerID,
            grouping: true,
            caption : '调度拖轮',
            groupingView: {
                groupField: ["ServiceNatureLabel"],
                groupColumnShow: [true],
                groupText: ['@Resources.Language.V_OrderScheduler_ServiceNatureLabel' + ": <b>{0}</b>"],
                groupOrder: ["asc"],
                groupSummary: [false],
                groupCollapse: false
            },


            //gridComplete: function () {
            //    alert(1);
            //}
        });

        $("#" + childGridID).jqGrid('bindKeys');  //光标可以控制上下移动

        //subGridPager
        $('#' + childGridID).navGrid('#' + childGridPagerID, { edit: false, add: false, del: false, refresh: false, view: false, search: false })
        .navButtonAdd('#' + childGridPagerID, {
            caption: "", title: "刷新", buttonicon: "ui-icon-refresh",
            onClickButton: function () {

                $('#' + childGridID).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
            }
        })
            .navSeparatorAdd("#" + childGridPagerID, { sepclass: "ui-separator", sepcontent: '' })
            .navButtonAdd('#' + childGridPagerID, {
                caption: "", title: "删除选中的行", buttonicon: "ui-icon-trash",
                onClickButton: function () {
                    var rowid = jQuery('#' + childGridID).jqGrid('getGridParam', 'selrow');
                    var dr = jQuery("#" + childGridID).jqGrid('getRowData', rowid);//得到该行的数据
                    if (rowid != null) {
                        if (confirm('确定要删除所选的记录吗?')) {
                            var d = new Date();
                            $.ajax(
                                {
                                    type: "post",
                                    url: '@Url.Action("DeleteScheduler", "OrderManage")',
                                    data: { 'oper': 'delete', 'data': dr },//"oper=delete&id=" + gr,
                                    dataType: 'json',
                                    success: function (result) {
                                        alert(result.message);
                                        //jQuery("#" + childGridID).jqGrid('delRowData', rowid);
                                        $('#'+childGridID).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                    },

                                }
                                );
                        }
                    }
                    else {
                        alert('选中一行');
                    }
                },
                position: "last"
            });


        $('#' + childGridID).inlineNav('#' + childGridPagerID,
            {
                edit: true,
                add: true,
                del: true,
                cancel: true,
                editParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    url: null, //'/api/values',
                    mtype: 'POST'
                },

                addParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    errorfunc: function (rowid, xhr) {
                        alert(xhr.responseText);
                        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                }
            });
    }


    function GetTableConfig() {
        tableConfig = {
            columns: [

                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_IDX', index: "IDX", name: "IDX", width: 80, editable: true, edittype: "text",
                     hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_IsGuest', name: "IsGuest", width: 120, editable: true, edittype: "checkbox",
                    //colmenu: false,
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    stype: 'select',

                    searchoptions: {
                        //sopt: ["ge", "le"],
                        value: "全部:全部;是:是;否:否",
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    //alert(e);
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_Code', name: "Code", width: 100, editable: false, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_CustomerID', name: "CustomerID", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_CustomerName', name: "CustomerName", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkDate', name: "WorkDate", width: 90, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkTime', name: "WorkTime", width: 90, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_EstimatedCompletionTime', name: "EstimatedCompletionTime", width: 120,
                    editable: true, edittype: "text", hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkPlace', name: "WorkPlace", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ServiceNatureIDS', name: "ServiceNatureIDS", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ServiceNatureNames', name: "ServiceNatureNames", width: 260, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ShipID', name: "ShipID", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_ShipName', name: "ShipName", width: 120, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_BigTugNum', name: "BigTugNum", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_MiddleTugNum', name: "MiddleTugNum", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_SmallTugNum', name: "SmallTugNum", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkMan', name: "LinkMan", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkPhone', name: "LinkPhone", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_LinkEmail', name: "LinkEmail", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateID', name: "WorkStateID", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateValue', name: "WorkStateValue", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.V_OrderInfor_WorkStateLabel', name: "WorkStateLabel", width: 100, editable: true, edittype: "text",
                    hidden: false,
                    stype: "select",
                    searchoptions: {
                        dataUrl: '@Url.Action("GetCustomField", "Base", new { CustomName = "OrderInfor.WorkStateID"})',
                    }
                },
                
                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 200, editable: true, edittype: "textarea",
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 100, editable: false, edittype: "text",
                    hidden: false,
                    //formatter: 'date',
                    //formatoptions: { srcformat: 'yyyy-mm-dd', newformat: 'yyyy-mm-dd' },
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 100, editable: false, edittype: "text",
                    hidden: false,
                    //formatter: 'date',
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "cn", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: { sopt: ["eq", "lt", "le", "gt", "ge"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },

                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: true, freeze: false },
                    searchoptions: {
                        sopt: ["eq", "lt", "le", "gt", "ge"],

                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        },

                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    var grid = $('#jqGrid')[0];
                                    grid.triggerToolbar();

                                }
                            }
                        ]
                    }
                },
                { align: 'center', label: 'Billing', name: "Billing", width: 100, editable: true, edittype: "text", hidden: true },
                { align: 'center', label: 'Scheduler', name: "Scheduler", width: 100, editable: true, edittype: "text",hidden: true }

            ]
        };
    }


    

    var g_cur_subGridId = '';


    $('#table-modal').on('show.bs.modal', function (e) {
        //alert("show");

        $("#jqGrid2").jqGrid({
            url: '@Url.Action("GetDataForLoadOnce", "TugInfor")',
            mtype: "GET",
            datatype: "json",
            colModel: [

                {
                    align: 'center', label: '@Resources.Language.TugInfor_IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Code', name: "Code", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_CnName', name: "CnName", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_EnName', name: "EnName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_SimpleName', name: "SimpleName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Power', name: "Power", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Class', name: "Class", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Speed', name: "Speed", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Length', name: "Length", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.TugInfor_Width', name: "Width", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 150, editable: true, edittype: "textarea",
                    editrules: { required: false }, hidden: false
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    //formatter: 'date',
                    //formatoptions: { srcformat: 'yyyy-mm-dd', newformat: 'yyyy-mm-dd' },
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    },

                    searchoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    //formatter: 'date',
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    },
                    searchoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                //id: 'orderCreateDate_datePicker',
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                { align: 'center', label: 'Billing', name: "Billing", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true },
                { align: 'center', label: 'CustomerShip', name: "CustomerShip", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true }

            ],
            viewrecords: true,
            //width: 780,
            height: 300,
            rowNum: 10,
            autowidth: true,
            editurl: '@Url.Action("AddEdit", "TugInfor")',
            pager: "#jqGridPager2",
            loadonce: true,
            rowList: ['10', '20', '30'],
            rownumbers: true,
            shrinkToFit: true,     //指定各列宽度
            sortable: true,          //列可移动
            colMenu: true          //列菜单
        });

        $('#jqGrid2').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });

        $('#jqGrid2').navGrid('#jqGridPager2', { edit: false, add: false, del: false, refresh: false, view: false, search: false });
          
        $('#model-dlg').width($('#jqGrid2').width() + 45);

        var invoker = $(e.relatedTarget);
        $('#cur_operate_chid_grid').text(g_cur_subGridId);
    });
    $('#table-modal').on('shown.bs.modal', function (e) {
        var invoker = $(e.relatedTarget);
        
    });
    $('#table-modal').on('hide.bs.modal', function () {

        //alert("hide");
    });
    $('#table-modal').on('hidden.bs.modal', function () {

        $(this).removeData("bs.modal");
        //alert("hidden");
    });

    function chooseTug() {

        var rowid = jQuery('#jqGrid2').jqGrid('getGridParam', 'selrow');
        if (rowid != null) {
            var dr = jQuery("#jqGrid2").jqGrid('getRowData', rowid);//得到该行的数据

            var curChildGridId = $('#cur_operate_chid_grid').text();
            var childRowid = jQuery('' + curChildGridId).jqGrid('getGridParam', 'selrow');

            if (childRowid != null) {

                var tugID_id = childRowid + "_TugID";
                $('#' + tugID_id).val(dr.IDX);
                
                var cnName_id = childRowid + "_CnName";
                $('#' + cnName_id).val(dr.CnName);
                //jQuery('' + curChildGridId).setCell(childRowid, 'CnName', dr.CnName);

                var enName_id = childRowid + "_EnName";
                $('#' + enName_id).val(dr.EnName);
                //jQuery('' + curChildGridId).setCell(childRowid, 'EnName', dr.EnName);

                var simpleName_id = childRowid + "_SimpleName";
                $('#' + simpleName_id).val(dr.SimpleName);
                //jQuery('' + curChildGridId).setCell(childRowid, 'SimpleName', dr.SimpleName);
               
            }        
        }        
    }

</script>